### A CI workflow template that runs linting and python testing

name: Test

on:
  push:
    branches: [main]
  pull_request:
    types: [opened, synchronize, reopened]

env:
  FORCE_COLOR: 1

jobs:
  test:
    runs-on: ubuntu-latest
    env:
      PIP_CONSTRAINT: ${{ github.workspace }}/.github/workflows/constraints.txt
    strategy:
      matrix:
        python-version:
        - "3.14"
        - "3.13"
        - "3.12"
        - "3.11"
        - "3.10"
      max-parallel: 2

    steps:
    - uses: actions/checkout@08c6903cd8c0fde910a37f88322edcfb5dd907a8 # v5.0.0
    - uses: actions/setup-python@e797f83bcb11b83ae66e0230d6156d7c80228e7c # v6.0.0
      with:
        python-version: ${{ matrix.python-version }}
        allow-prereleases: true
    - uses: astral-sh/setup-uv@85856786d1ce8acfbcc2f13a5f3fbd6b938f9f41 # v7.1.2
      with:
        version: ">=0.4.0"

    - name: Test with pytest
      env:
        TAP_CIRCLE_CI_TOKEN: ${{ secrets.TAP_CIRCLE_CI_TOKEN }}
        TAP_CIRCLE_CI_ORG_SLUG: ${{ secrets.TAP_CIRCLE_CI_ORG_SLUG }}
      run: |
        uvx --python ${{ matrix.python-version }} --with tox-uv tox -e ${{ matrix.python-version }}

    - name: Type check with mypy
      run: |
        uvx --python ${{ matrix.python-version }} --with tox-uv tox -e typing
