### A CI workflow template that runs linting and python testing

name: Test

on:
  push:
    branches: [main]
  pull_request:
    types: [opened, synchronize, reopened]

env:
  FORCE_COLOR: 1

jobs:
  test:
    runs-on: ubuntu-latest
    env:
      PIP_CONSTRAINT: ${{ github.workspace }}/.github/workflows/constraints.txt
    strategy:
      matrix:
        python-version:
        - "3.14"
        - "3.13"
        - "3.12"
        - "3.11"
        - "3.10"
      max-parallel: 2

    steps:
    - uses: actions/checkout@8e8c483db84b4bee98b60c0593521ed34d9990e8 # v6.0.1
    - uses: actions/setup-python@83679a892e2d95755f2dac6acb0bfd1e9ac5d548 # v6.1.0
      with:
        python-version: ${{ matrix.python-version }}
        allow-prereleases: true
    - uses: astral-sh/setup-uv@681c641aba71e4a1c380be3ab5e12ad51f415867 # v7.1.6
      with:
        version: ">=0.4.0"

    - name: Test with pytest
      env:
        TAP_CIRCLE_CI_TOKEN: ${{ secrets.TAP_CIRCLE_CI_TOKEN }}
        TAP_CIRCLE_CI_ORG_SLUG: ${{ secrets.TAP_CIRCLE_CI_ORG_SLUG }}
      run: |
        uvx --python ${{ matrix.python-version }} --with tox-uv tox -e ${{ matrix.python-version }}

    - name: Type check with mypy
      run: |
        uvx --python ${{ matrix.python-version }} --with tox-uv tox -e typing
